mixin header
  header.header
    .wrapper
      button(type="button").mobile__button
        span
        span
        span
        span
      a(href="#").header__logo
      .header-right
        .top
          .top-left Винтовые сваи на литых наконечниках, услуги ямобура (БКМ)
          .top-right
            a(href="#") mbk86@bk.ru
            span +7 (3467) 92-05-06
        nav.menu&attributes(attributes)
          ul
            li
              a(href="#") Услуги
            li
              a(href="#") О компании
            li.parent.active
              a(href="#") Наши работы
              ul
                li.active
                  a(href="#") Меню 1
                li
                  a(href="#") Меню 2
                li
                  a(href="#") Меню 3
            li.parent
              a(href="#") Цены
              ul
                li
                  a(href="#") Меню 1
                li
                  a(href="#") Меню 2
                li
                  a(href="#") Меню 3
            li
              a(href="#") Частые вопросы
            li
              a(href="#") Контакты
