footer.footer
  .wrapper
    .footer-item
      .footer__logo
      .footer__counter
        // подразумевается вставка кода счетчика вместо img
        img(src="images/counter.png")
    .footer-item
      a(href="#").footer__email mbk87@bk.ru
      .footer__phone +7 (3467) 92-05-06
